<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jinglitong.springshop.mapper.PaymenttransactionMapper" >
  <resultMap id="BaseResultMap" type="com.jinglitong.springshop.entity.Paymenttransaction" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="zid" property="zid" jdbcType="VARCHAR" />
    <result column="amount" property="amount" jdbcType="DECIMAL" />
    <result column="expire" property="expire" jdbcType="TIMESTAMP" />
    <result column="isSuccess" property="issuccess" jdbcType="BIT" />
    <result column="paymentPluginId" property="paymentpluginid" jdbcType="VARCHAR" />
    <result column="paymentPluginName" property="paymentpluginname" jdbcType="VARCHAR" />
    <result column="order_id" property="orderId" jdbcType="VARCHAR" />
    <result column="store_id" property="storeId" jdbcType="VARCHAR" />
    <result column="cust_id" property="custId" jdbcType="VARCHAR" />
    <result column="payStatus" property="paystatus" jdbcType="INTEGER" />
    <result column="currency_id" property="currencyId" jdbcType="VARCHAR" />
    <result column="real_amount" property="realAmount" jdbcType="DECIMAL" />
    <result column="real_currency_id" property="realCurrencyId" jdbcType="VARCHAR" />
    <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
    <result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP" />
  </resultMap>
</mapper>